<br>
<div class="panel panel-default">
  <div class="panel-heading" style="margin-left: 47%"><h4>Client Detail</h4></div>
  <div class="panel-body">

    <div class="box box-info">

      <div class="box-body">
        <div class="col">
          <div align="center">
            <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                 id="profile-image1" class="img-circle img-responsive">
            <input id="profile-image-upload" class="hidden" type="file">
          </div>

          <br>

        </div>
        <div class="col-sm-6" style="margin-left: 47%">
          <h4 style="color:#00b1b1;">{{clientDetail.name}} </h4>
          <span><p><i class="fa fa-phone mt-2"></i> &nbsp; {{clientDetail.phone}}</p></span>
        </div>
        <div class="clearfix"></div>
        <hr style="margin:5px 0 5px 0;">

        <div style="margin-left: 20px">
          <div class="col-sm-5 col-xs-6 tital ">Client Name:</div>
          <div class="col-sm-7 col-xs-6 ">{{clientDetail.name}}</div>
          <div class="clearfix"></div>
          <div class="bot-border"></div>


          <div class="col-sm-5 col-xs-6 tital ">Gender:</div>
          <div class="col-sm-7">{{clientDetail.gender}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital ">Phone Number:</div>
          <div class="col-sm-7">{{clientDetail.phone}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital ">Email Address:</div>
          <div class="col-sm-7">{{clientDetail.email}}</div>

          <div class="col-sm-5 col-xs-6 tital ">Address:</div>
          <div class="col-sm-7">{{clientDetail.address}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
          <div class="col-sm-7">{{clientDetail.nationality}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
          <div class="col-sm-7">{{clientDetail.dateOfBirth}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital ">Education Background:</div>
          <div class="col-sm-7">{{clientDetail.educationBackground}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital ">Preffered Mode Of Contact:</div>
          <div class="col-sm-7">{{clientDetail.preferredModeOfContact}}</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>
        </div>

      </div>

    </div>

  </div>
</div>





